Language: Cpp
Standard: c++17
BasedOnStyle: LLVM

UseTab: Never              
IndentWidth: 4             
TabWidth: 4               
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman

AlignTrailingComments: true 
ColumnLimit: 100
PointerAlignment: Left
